################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pi/obj/Debug
/.vs/pi/v15/Server/sqlite3
/.vs/pi/v15/Server/sqlite3
